.sidebar_menu_header {
    height: 32px;
    margin: 16px;
}

.sidebar_menu_header span {
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 1px;
}

.sidebar_menu_header_title {
    margin-left: 5px;
}